<div class="box">
  <div class="job_data">
    <dl class="job_data_row">
      <dt>Title</dt>
      <dd><%= link_to job["title"], job_path(job["id"]) %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Short description</dt>
      <dd><%= job["description"]&.truncate(250) %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Salary</dt>
      <dd><%= job["salary"] %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Location</dt>
      <dd><%= job["city"] %></dd>
    </dl>
  </div>
  <div id="favorite_form_">
    <button type="button" class="btn btn-outline-secondary">Favorite</button>
    <% if current_user.favorites.exists?(job_id: job.id) %>
      <%= render "shared/unfavorite_btn", job_id: job.id %>
    <% else %>
      <%= render "shared/favorite_btn", job_id: job.id %>
    <% end %>
  </div>
</div>
