<%= form_tag( jobs_path, method: :get, class: "form-inline") do %>
  <%= search_field_tag :search, params[:search], class: "form-control mb-2 mr-sm-2" %>
  <%= submit_tag "Search", class: "btn btn-primary mb-2" %>
<% end %>

<h3>Total: <%= @jobs_count %></h3>
<h3>Result for: <%= view_search_result %></h3>

<%= paginate @jobs %>

<%= render partial: "jobs/job", collection: @jobs %>

<%= paginate @jobs %>
