<nav aria-label="breadcrumb mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Top", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "City", cities_path %></li>
    <li class="breadcrumb-item"><%= link_to "Industry", industries_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @job.title %></li>
  </ol>
</nav>
<div class="box">
  <h1>
    <%= @job.title %>
  </h1>
  <div class="job_data">
    <dl class="job_data_row">
      <dt>Company</dt>
      <dd><%= @job.company_name %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Location</dt>
      <dd><%= @job.city_name %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Salary</dt>
      <dd><%= @job.salary %></dd>
    </dl>
    <dl class="job_data_row">
      <dt>Description</dt>
      <dd><%= @job.display_description %></dd>
    </dl>
  </div>
</div>

<div class="job_detail_button">
  <%= link_to "Favorite", "#", class: "btn btn-primary float-right" %>
  <% if user_signed_in? && UserJob.find_by(user_id: current_user.id, job_id: @job.id) %>
    <button type="button" class="btn btn-primary float-right mx-3" disabled>Apply</button>
  <% else %>
    <%= link_to "Apply", apply_path(job_id: @job.id), class: "btn btn-primary float-right mx-3" %>
  <% end %>
</div>
