<% provide(:title, "Top Page") %>

<div class="jumbotron">
  <div class="banner text-center">
    <%= image_tag ("skyline_darker.jpg") %>
  </div>

  <h2>Total jobs: <%= Job.count %></h2>

  <div class="search"></div>

  <div class="lastest_jobs">
    <h3 class="text-center">Latest jobs</h3>

    <div>
      <%= render partial: "shared/latest_job", collection: @jobs %>
    </div>
  </div>

  <div class="top_cities text-center">
    <%= render "shared/top_cities" %>
  </div>

  <div class="top_industries text-center">
    <%= render "shared/top_industries"%>
  </div>
</div>
