<% provide(:title, "Top Page") %>

<div class="center jumbotron">
  <div class="banner">
    <%= image_tag ("skyline_darker.jpg") %>
  </div>

  <h2>Total jobs: <%= Job.count %></h2>

  <div class="search"></div>

  <div class="lastest_jobs">
    <h3>Latest jobs</h3>

    <div>
      <%= render partial: "shared/latest_jobs", collection: @jobs %>
    </div>
  </div>

  <div class="top_cities">
    <%= render "shared/top_cities" %>
  </div>

  <div class="top_industries">
    <%= render "shared/top_industries"%>
  </div>
</div>
