<% provide(:title, "Top Page") %>

<div class="center jumbotron">
  <div class="banner">
    <img src="banner.png" alt="Banner">
  </div>

  <div class="search"></div>

  <div class="lastest_jobs">
    <h3>Latest jobs</h3>

    <div>
      <%= render partial: "jobs/job", collection: @jobs %>
    </div>
    <%= paginate @jobs %>
  </div>

  <div class="top_cities">
    <%= render partial: "shared/top_cities" %>
  </div>

  <div class="top_industries">
    <h3>Top industries</h3>

    <div class="container">
      <div class="row row-cols-5">
        <%= render partial: "industries/industry", collection: @industries %>
      </div>
    </div>
    <%= paginate @industries %>
  </div>
</div>
