<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag("venjob_logo.png", alt: "VeNJOB Logo") , root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <ul class="list-inline-item">
          <li class="list-inline-item"><%= link_to "Login", "#" %></li>
          <li class="list-inline-item"><%= link_to "Register", "#" %></li>
          <li class="list-inline-item"><%= link_to "Favorite", favorite_path %></li>
          <li class="list-inline-item"><%= link_to "History", history_path %></li>
        </ul>
      </ul>
    </nav>
  </div>
</header>
