<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag("venjob_logo.png", alt: "VeNJOB Logo") , root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <ul class="list">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <li class="list-inline-item"></li><%= link_to "My Page", "#" %></li>
            <li class="list-inline-item"></li><%= link_to "Logout", "#" %></li>
          <% else %>
            <li class="list-inline-item"><%= link_to "Login", "#" %></li>
            <li class="list-inline-item"><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
          <li class="list-inline-item"><%= link_to "Favorite", "#" %></li>
          <li class="list-inline-item"><%= link_to "History", "#" %></li>
        </ul>
      </ul>
    </nav>
  </div>
</header>
